<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>charging</display-name>
  <listener>
    <display-name>ContextDataListener</display-name>
    <listener-class>cn.edu.shu.listener.ContextDataListener</listener-class>
    
  </listener>
  
  <!--NFDFlightDataTaskListener 监听器-->
<listener>
    <listener-class>cn.edu.shu.listener.NFDFlightDataTaskListener</listener-class>
</listener>
  <listener>
  <display-name>PortListener</display-name>
  <listener-class>cn.edu.shu.listener.PortListener</listener-class>
  </listener>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.edu.shu.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/main.jsp</url-pattern>
    <url-pattern>/historyChart.jsp</url-pattern>
    <url-pattern>/historyAlertMsg.jsp</url-pattern>
    <url-pattern>/welcomme.jsp</url-pattern>
    <url-pattern>/historyData.jsp</url-pattern>
    <url-pattern>/top.jsp</url-pattern>
    <url-pattern>/AlertMsgList</url-pattern>
    <url-pattern>/HistoryDataList</url-pattern>
    <url-pattern>/fileManager.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>WriteSession</servlet-name>
    <servlet-class>cn.edu.shu.servlet.WriteSession</servlet-class>
  </servlet>
  <servlet>
    <display-name>HistoryDataList</display-name>
    <servlet-name>HistoryDataList</servlet-name>
    <servlet-class>cn.edu.shu.servlet.HistoryDataList</servlet-class>
  </servlet>
  <servlet>
    <display-name>DelUser</display-name>
    <servlet-name>DelUser</servlet-name>
    <servlet-class>cn.edu.shu.servlet.DelUser</servlet-class>
  </servlet>
  <servlet>
    <display-name>AlertMsgList</display-name>
    <servlet-name>AlertMsgList</servlet-name>
    <servlet-class>cn.edu.shu.servlet.AlertMsgList</servlet-class>
  </servlet>
  <servlet>
    <description>RealTime</description>
    <display-name>RealTime</display-name>
    <servlet-name>RealTime</servlet-name>
    <servlet-class>cn.edu.shu.servlet.RealTime</servlet-class>
  </servlet>
  <servlet>
    <display-name>CONFIRM</display-name>
    <servlet-name>CONFIRM</servlet-name>
    <servlet-class>cn.edu.shu.servlet.CONFIRM</servlet-class>
  </servlet>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.edu.shu.servlet.Login</servlet-class>
  </servlet>

  <servlet>
    <display-name>DelDevice</display-name>
    <servlet-name>DelDevice</servlet-name>
    <servlet-class>cn.edu.shu.servlet.DelDevice</servlet-class>
  </servlet>
  <servlet>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cn.edu.shu.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>RemoteServlet</description>
    <display-name>RemoteServlet</display-name>
    <servlet-name>RemoteServlet</servlet-name>
    <servlet-class>cn.edu.shu.servlet.RemoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>HistoryServlet</description>
    <display-name>HistoryServlet</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>cn.edu.shu.servlet.HistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HistoryCurServlet</servlet-name>
    <servlet-class>cn.edu.shu.servlet.HistoryCurServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RealTimeCurrServlet</servlet-name>
    <servlet-class>cn.edu.shu.servlet.RealTimeCurrServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>IpcDataServlet</servlet-name>
    <servlet-class>cn.edu.shu.servlet.IpcDataServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>SaveOrUpdateDevice</description>
  	<display-name>SaveOrUpdateDevice</display-name>
  	<servlet-name>SaveOrUpdateDevice</servlet-name>
  	<servlet-class>cn.edu.shu.servlet.SaveOrUpdateDevice</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FileManagerServlet</display-name>
    <servlet-name>FileManagerServlet</servlet-name>
    <servlet-class>cn.edu.shu.servlet.FileManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SaveOrUpdateUser</display-name>
    <servlet-name>SaveOrUpdateUser</servlet-name>
    <servlet-class>cn.edu.shu.servlet.SaveOrUpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileManagerServlet</servlet-name>
    <url-pattern>/FileManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IpcDataServlet</servlet-name>
    <url-pattern>/IpcDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveOrUpdateUser</servlet-name>
    <url-pattern>/SaveOrUpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RealTimeCurrServlet</servlet-name>
    <url-pattern>/RealTimeCurrServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelDevice</servlet-name>
    <url-pattern>/DelDeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelUser</servlet-name>
    <url-pattern>/DelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistoryCurServlet</servlet-name>
    <url-pattern>/HistoryCurServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/HistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoteServlet</servlet-name>
    <url-pattern>/RemoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RealTime</servlet-name>
    <url-pattern>/RealTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CONFIRM</servlet-name>
    <url-pattern>/CONFIRM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveOrUpdateDevice</servlet-name>
  	<url-pattern>/SaveOrUpdateDevice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistoryDataList</servlet-name>
    <url-pattern>/HistoryDataList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AlertMsgList</servlet-name>
    <url-pattern>/AlertMsgList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WriteSession</servlet-name>
    <url-pattern>/WriteSession</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
 
</web-app>