	*{
		margin:0px;
		padding:0px;
	}
	
	#checkbox{
	font-size:21px;
	color:blue;
	font-weight:bold;
	margin-top:10px;
	height:600px;
	width:1470px;
	border:2px solid #DCDCDC;
	background-color:#DCDCDC;
	position:relative;
	left:24px;
	}
	#inputbox{
	height:87px;
	border-bottom:1px blue solid;
	margin-left:30px;
	margin-right:30px;
	}
	 #inputbox #startD,#inputbox #endD{
	 padding-left:7px;
	 font:19px normal "宋体";
	 margin:30px auto;
	height:37px;
	width:217px;
	display:inline-block;
	background-color:#F8ECD6;
	}
	input.check,input.refresh{
	margin-left:20px;
	 font:21px bold "宋体";	
	height: 34px;
	width:77px;
	 color:blue;
	display:inline-block;
	background-color:#F8ECD6;
	}
	#inputbox #tip{
	margin-left:20px;
	font:18px normal "宋体";
	color:black;
	display:inline-block;
	}
    #voltage{
    margin-top:40px;
    position:absolute;
	/* border:1px blue solid; */
	display:inline-block;
	left:30px;
	}
	#current{
	margin-top:40px;
    position:absolute;
	/* border:1px blue solid; */
	display:inline-block;
	right:20px;
	}
	#chart applet{
	background-color:white;
	width:680px;
	height:400px;
	padding-right:20px;
	border-bottom:1px gray solid;
	border-right:1px gray solid;
	}
